

@mixin debug_border (
    $color:black
){
    border:$color solid 2px;
}

@mixin section_setup (
    $justify-content: center,
    $align-items: center,
    $column_count: 10,
    $row_count: 10,
){
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat($column_count, 1fr);
    grid-template-rows: repeat($row_count, 1fr);
    justify-content: $justify-content;
    align-items: $align-items;
    scroll-snap-align: start;

    @include debug_border();
}

/*-----------------------------------------------------------------
------------------------------------------------------------------*/
html, body {
    scroll-snap-type: y mandatory;
    margin: 0px;
}

#main {
    @include section_setup();

     img {
        grid-column: 1/-1;
        grid-row: 1/-1;
        width: 100%;
        height: 100vh;

        animation-name: main_img_animation;
        animation-timeline: scroll();
        animation-duration: 1ms;
        
        @keyframes main_img_animation {
            from {
                opacity: 1;
            }
            to {
                opacity: 0;
            }
        }


    }
}

#second_page {
    @include section_setup();

    img {
        grid-column: 1/-1;
        grid-row: 1/-1;
        width: 100%;
        height: 100%;
        }
    }


#third_page {
    @include section_setup();

    img {
        grid-column: 1/-1;
        grid-row: 1/-1;
        width: 100%;
        height: 100%;
        }
    }

#fourth_page {
    @include section_setup();

    img {
        grid-column: 1/-1;
        grid-row: 1/-1;
        width: 100%;
        height: 100%;
        }
    }
    

