// imported fonts
// -----------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');

//google Icons
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');


// variables
// -----------------------------------------------------------------
$global_bg_color:rgb(84, 84, 84);
$global_contrast_color:black;

// mixins
// -----------------------------------------------------------------
@mixin debug(
    $debug_border_color:red,
    $debug_bg_color:rgb(143, 143, 205), 
){
    border: solid 2px $debug_border_color;
    background-color: $debug_bg_color;
}
@mixin default_font(
    $color: white,
    $font_family: ('Montserrat', sans-serif),
    $font_size: 30px,
    $font_weight:normal,
    $letter_spacing:0px,
    $text_shadow: 2px 2px 1px rgb(85, 85, 85),
    $text_align:center,

    ){
        color: $color;
        font-family: $font_family;
        font-size: $font_size;
        text-decoration: none;
        font-weight: $font-weight;
        letter-spacing: $letter_spacing;
        text-shadow: $text_shadow;
        text-align: $text_align;
}



// styles
// -----------------------------------------------------------------
html, body {
    height: auto;
    width: 100vw;
    margin:0px;
    padding:0px;
    background-color: $global_bg_color;
    overflow-x: hidden;
}


// header_desktop
@media screen and (min-width:1200px) {
header {
    // @include debug(
    //     $debug_bg_color:rgb(0, 0, 0), 
    //     $debug_border_color:pink
    //     );
    width: 100%;
    height: 5vh;
    position: fixed;
    z-index: 200;
    display: flex;
    justify-content: center;
    background-color: black;

    img {
        height: 20vh;
        width: auto;
    }
}
}
@media screen and (max-width:1200px) {
    header {
        // @include debug(
        //     $debug_bg_color:rgb(0, 0, 0), 
        //     $debug_border_color:pink
        //     );
        width: 100%;
        height: 5vh;
        position: fixed;
        z-index: 200;
        display: flex;
        justify-content: start;
        background-color: black;
        
    
        img {
            height: 20vh;
            width: auto;
        }
    }
    }
// main_desktop
@media screen and (min-width:1200px){
.main_img {
    // @include debug(
    //     $debug_bg_color:orange, 
    //     $debug_border_color:pink
    //     );
    width: 100%;
    height: 100vh;
    background-image: url("images/barn_bg_4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    

    .main_img_text {
        // @include debug(
        // $debug_bg_color:none, 
        // $debug_border_color:white
        // );

        width:60%;
        height: 35%;
        position: relative;
        top: 35vh;
        padding-left:10vw;
        padding-top:10px;
        background-color: rgba(0, 0, 0, 0.313);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(4px);
        @include default_font(
            $font-weight:bold, 
            $text_shadow:none,
            $text_align:left);

    }
    
}
}
// main_mobile
@media screen and (max-width:1200px){
    .main_img {
        // @include debug(
        //     $debug_bg_color:orange, 
        //     $debug_border_color:pink
        //     );
        width: 100%;
        height: 100vh;
        background-image: url("images/barn_bg_4.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        display: flex;
        justify-content: center;
        align-items: start;
        
    
        .main_img_text {
            // @include debug(
            // $debug_bg_color:none, 
            // $debug_border_color:white
            // );
    
            width:100%;
            height: auto;
            position: relative;
            background-color: rgba(0, 0, 0, 0.313);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(4px);
            @include default_font(
                $font-weight:bold, 
                $text_shadow:none,
                $font_size:20px,
                );
            padding:15px;
            padding-top:20vh;

        }
        
    }
}

// main-1_desktop
@media screen and (min-width:1200px){
.main-1_section {
    height: 75vh;
    width:100%;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 10vh 60vh auto;
    grid-template-areas: 
    "head head" 
    "body body"
    "foot foot";
    @include default_font(
    );

    .main-1_section_header {
        // main image
        // @include debug(
        // $debug_bg_color:rgb(150, 212, 142), 
        // $debug_border_color:rgb(254, 192, 255)
        // );
        background-color: $global_contrast_color ;
        grid-area: head;
        height: 100%;
        width: 100%;

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 25px;
            
        }
    }

    .main-1_section_body {
        // catering service
        // @include debug(
        // $debug_bg_color:rgb(78, 143, 145), 
        // $debug_border_color:rgb(254, 192, 255)
        // );
        
        background-color: $global_bg_color;

        grid-area: body;
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: space-around;
        align-items: center;
        // padding-left: 10%;
        // gap:10%;

        img {
            // @include debug(
            // $debug_bg_color:none, 
            // $debug_border_color:white
            // );
    
            width: 40%;
            height: 80%;
            // position: relative;
            // top:10%;
            // left:10%;
            border: solid 1px rgba(255, 255, 255, 0.282);
            box-shadow: -30px -20px 0px 0px black;
            
        }
    
        .text {
            // @include debug(
            //     $debug_bg_color:none, 
            //     $debug_border_color:white
            //     );
                width: 35%;
                height: auto;
                padding:20px;
                text-align: center;

                p{
                    font-size: 22px;
                }
        }
    }
    .main-1_section_foot {
    background-color: $global_contrast_color ;
    grid-area: foot;
    height: auto;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    }
}
}
// main-1_modile
@media screen and (max-width:1200px){
    .main-1_section {
        height: auto;
        width:100%;
    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "head" 
        "body"
        "foot";
        @include default_font(
        );
    
        .main-1_section_header {
            // main image
            // @include debug(
            // $debug_bg_color:rgb(150, 212, 142), 
            // $debug_border_color:rgb(254, 192, 255)
            // );
            background-color: $global_contrast_color ;
            grid-area: head;
            height: auto;
            width: 100%;
    
            h2 {
                font-size: 25px;
            }
        }
    
        .main-1_section_body {
            // catering service
            // @include debug(
            // $debug_bg_color:rgb(78, 143, 145), 
            // $debug_border_color:rgb(254, 192, 255)
            // );
            
            background-color: $global_bg_color;
    
            grid-area: body;
            height: 100%;
            width: 100%;
    
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
    
            img {
                // @include debug(
                    // $debug_bg_color:none, 
                    // $debug_border_color:white
                    // );
                width: 100%;
                height: auto;
                border: solid 1px rgba(255, 255, 255, 0.282);                
            }
        
            .text {
                // @include debug(
                //     $debug_bg_color:none, 
                //     $debug_border_color:white
                //     );
                    width: 100%;
                    height: auto;
                    padding:20px;
                    text-align: center;
    
                    p{
                        font-size: 22px;
                    }
            }
        }
        .main-1_section_foot {
        background-color: $global_contrast_color ;
        grid-area: foot;
        height: 100%;
        width: 100%;

        p {
            font-size: 25px;
            
        }
        }
    }
}

.main-2_section {   
    // coffees
    // @include debug(
    //     $debug_bg_color:rgb(212, 179, 142), 
    //     $debug_border_color:rgb(0, 0, 0)
    //     );
        
        height: auto;
        width: 100%;
        background-color: $global_bg_color;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:minmax(auto, 40%) auto;
        padding-top: 10%;
        padding-bottom:10%;
        @include default_font();

        .main-2_section_text {
            grid-column: 1;
            grid-row: 1;
            // align-self: end;
            // justify-self: end;
            width: 100%;
            height: 100%;
            padding-bottom: 5%;
        }

        .main-2_section_images {

            grid-column: 1;
            grid-row:2;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            // padding: 3%;
            gap:20px;
        
            .img_container {
                position: relative;
                height: auto;
                min-width: 450px;
                max-width: 40%;
                // background-color: blue;
                
                img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
                p {
                    // from chatGPT
                    position: absolute; /* Position the paragraph absolutely within the container */
                    width: 100%;
                    top: 60%; /* Adjust the top position based on your design */
                    transform: translateY(-50%); /* Center the text vertically */
                    text-align: center; 
                    background-color: rgba(255, 255, 255, 0.2);
                    -webkit-backdrop-filter: blur(3px);
                    backdrop-filter: blur(3px);
                }
            }
            // img {
            //     height: auto;
            //     min-width: 450px;
            //     max-width: 40%;
            // }
            
    }
}
// main-3_desktop
@media screen and (min-width:1200px) {
    .main-3_section {
        // other drinks & food
        // @include debug(
        //     $debug_bg_color:rgb(53, 217, 47), 
        //     $debug_border_color:rgb(0, 0, 0)
        //     );
            
        padding-top:5%;
        padding-bottom:5%;
        height: 100vh;
        width: 100vw;

        display: grid;
        grid-template-columns: 5% repeat(7,1fr) 5% ;
        // split all by 4
        grid-template-rows: 5% repeat(4,1fr) 5%;
        background-color: $global_contrast_color;

            .main-3_section_img_1 {
                grid-column: 2/ span 4;
                grid-row: 2/ span 4;
                width: 100%;
                height: auto;
                justify-self: left;
                img {
                    width:100%;
                    height: auto;
                    // padding: 10px;
                }
            }

            .main-3_section_img_2 {
                grid-column: 5/ span 4;
                grid-row: 3/ span 3;
                
                width: 100%;
                height: 100%;
                // justify-self: left;
                background-color: rgb(84, 84, 84,.7);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                

                display: flex;
                justify-content:center;
                align-items: center;
                padding: 20px;
                
                .text{
                    @include default_font;
                    width:100%;
                    height: auto;
                    padding: 10px;
                }
            }

    }
}
// main-3_mobile
@media screen and (max-width:1200px) {
    .main-3_section {
        // other drinks & food
        // @include debug(
        //     $debug_bg_color:rgb(53, 217, 47), 
        //     $debug_border_color:rgb(0, 0, 0)
        //     );
            
        padding-top:5%;
        padding-bottom:5%;
        height: 100vh;
        width: 100vw;

        display: grid;


            .main-3_section_img_1 {
                width: 100%;
                height: auto;
                justify-self: left;
                img {
                    width:100%;
                    height: auto;
                    // padding: 10px;
                }
            }

            .main-3_section_img_2 {         
                width: 100%;
                height: auto;
                // justify-self: left;
                background-color: $global_bg_color;
                

                display: flex;
                justify-content:center;
                align-items: center;
                padding: 20px;
                // position: absolute;
                // z-index: 200;
                
                .text{
                    @include default_font;
                    width:100%;
                    height: auto;
                    padding: 10px;
                    font-size: 25px;
                }
            }

    }
}
// main-4_desktop
@media screen and (min-width:1200px) {
    .main-4_section {
        // other drinks & food
        // @include debug(
        //     $debug_bg_color:rgb(53, 217, 47), 
        //     $debug_border_color:rgb(0, 0, 0)
        //     );
            
        padding-top:5%;
        padding-bottom:5%;
        height: 100vh;
        width: 100vw;

        display: grid;
        grid-template-columns: 5% repeat(7,1fr) 5% ;
        // split all by 4
        grid-template-rows: 5% repeat(4,1fr) 5%;
        background-color: $global_bg_color;

            .main-4_section_img_1 {

                grid-column: 5/ span 4;
                grid-row: 2/ span 4;
                width: 100%;
                height: auto;
                justify-self: left;
                img {
                    width:100%;
                    height: auto;
                    // padding: 10px;
                }
            }

            .main-4_section_img_2 {
                grid-column: 2/ span 4;
                grid-row: 3/ span 3;
                
                width: 100%;
                height: 100%;
                // justify-self: left;
                background-color: rgba(0, 0, 0, 0.7);
                -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
                

                display: flex;
                justify-content:center;
                align-items: center;
                padding: 20px;
                
                .text{
                    @include default_font;
                    width:100%;
                    height: auto;
                    padding: 10px;
                }
            }

    }
}
// main-4_mobile
@media screen and (max-width:1200px) {
    .main-4_section {
        // other drinks & food
        // @include debug(
        //     $debug_bg_color:rgb(53, 217, 47), 
        //     $debug_border_color:rgb(0, 0, 0)
        //     );
            
        padding-top:5%;
        padding-bottom:5%;
        height: 100vh;
        width: 100vw;

        display: grid;


            .main-4_section_img_1 {
                width: 100%;
                height: auto;
                justify-self: left;
                img {
                    width:100%;
                    height: auto;
                    // padding: 10px;
                }
            }

            .main-4_section_img_2 {         
                width: 100%;
                height: auto;
                // justify-self: left;
                background-color: $global_bg_color;
                

                display: flex;
                justify-content:center;
                align-items: center;
                padding: 20px;
                // position: absolute;
                // z-index: 200;
                
                .text{
                    @include default_font;
                    width:100%;
                    height: auto;
                    padding: 10px;
                    font-size: 25px;
                }
            }

    }
}

.main-5_section {
    //reviews on facebook google
        // about with circle images
        @include debug(
            $debug_bg_color:rgb(253, 139, 139), 
            $debug_border_color:rgb(0, 0, 0)
            );
            
            height: 60vh;
            width: 100%;
}

footer {
    @include debug(
        $debug_bg_color:none, 
        $debug_border_color:rgb(0, 0, 0)
        );
        
        height: 25vh;
        width: 100%;
}