//scroll triggered animations are done using javascript - see 

// https://alvarotrigo.com/blog/css-animations-scroll/

//this is a great little javascript/ css work around. works on safari as well

// must include a .js file as well as .reveal, and reveal.active class in css to work. 

//material~ class name must not be changed, it will break the google fonts icon setup.


//customer font matches their facebook profile
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');

//google Icons
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

// bootstrap variables --------



// ----------------------------


// global variables custom defined (not bootstrap)---------------
$global_font_color: rgb(255, 255, 255);
$page_color:rgb(90, 90, 90);
$border_colors: rgba(255, 255, 255, 0);
$header_footer_bg_color: rgb(33, 33, 33);
$global_font_size: 50px;

// $global_font_size: 50px;


// -------------------------

@mixin debug_border (
    $color:rgba(255, 255, 255, 0)
){
    border:$color solid 2px;
}


@mixin header_cells (
    $header_col_num:span 1,
){
    margin:3px;
    grid-column: $header_col_num;
    width: 100%;
    height:auto;
    // @include debug_border();
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 1vh;
    cursor: pointer;

    a {
        @include default_font
        (
        $font_size:25px, 
        $font-weight:bold,);
    }

    a:hover {
        color:$page_color;
        
    }

}




@mixin default_font(
    $color: $global_font_color,
    $font_family:  ('Sorts Mill Goudy'),
    $font_size: $global_font_size,
    $font_weight:normal,
    $letter_spacing:0px,
    $text_shadow: 6px 6px 2px black,

    ){
        color: $color;
        font-family: $font_family;
        font-size: $font_size;
        text-decoration: none;
        font-weight: $font-weight;
        letter-spacing: $letter_spacing;
        text-shadow: $text_shadow;
}



@mixin content_header {
    display: flex;
    align-items: end;
    justify-content: center;
    height: auto;
    width: 100%;
    @include default_font(
        $letter_spacing:20px
    );
    // background-color:rgba(0, 0, 0, 0.459);
    background-color: $page_color;
}

@mixin content_container {
    @include debug_border();
    max-height: 80vh;
    min-height: auto;
    width: 80%;
    background-color: $page_color;
    margin-bottom: 10vh;
    overflow: hidden;
}


html{
    padding: 2px;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: $page_color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
    width: 100%;
    margin:0px;
    padding: 0px;    
}


@media screen and (min-width:1200px){
.mobile_header {
    display: none;
}

.header_desktop {
    @include debug_border();
    background-color: $header_footer_bg_color;
    height: 13vh;
    width: 100%;
    position:  fixed;
    top: 0px;
    margin: 0px;
    padding-top:0px;
    z-index: 200;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:100%;
    justify-content: space-between;
    gap:5vw;    

    .header_left_cell_1{
        @include header_cells($header_col_num:1);
    }

    .header_left_cell_2 {
        @include header_cells($header_col_num:2)
    }

    .header_right_cell_1{
        @include header_cells($header_col_num:4);
    }

    .header_right_cell_2 {
        @include header_cells($header_col_num:5)
    }

    .header_center {
        grid-column: 3;
        grid-row:1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        
        img {
            width: auto;
            height: 20vh;
        }
    }
}
}
/* hamburger drop down menu for mobile------------ */

@media (max-width:1200px){

    //hide desktop nav
    .header_desktop {
        display: none;
    }

    .mobile_header {
        @include debug_border();
        background-color: $header_footer_bg_color;
        height: 17vh;
        width: 100%;
        position:  fixed;
        top: 0px;
        margin: 0px;
        padding-top:0px;
        z-index: 200;

        // display: grid;
        // grid-template-columns: 1fr ;
        // grid-template-rows:1;
        // grid-auto-rows: auto;
        gap:5vw;    
    

    .logo_mobile {
        display: flex;
        justify-content: center;
        img {
            position: relative;
            height: 20vh;
            // padding: 10px;
            top:-10px;
        }
    }

    #input1 {
        grid-row: 1;
        display: none;
    }

    .hamburger1 {
        margin-top: 2vh;
        display: grid;
        grid-template-rows: repeat(3,1fr);
        height: 45px;
        justify-content: center;
        z-index: 120;
    }

    .hamburger1 div {
        grid-row: span 1;
        position: relative;
        height: 5px;
        width: 60px;
        background-color: rgb(255, 255, 255);
        margin:3px;
        border-radius: 3px;
        transition: all 0.2s ease-in-out;
    }        

    #input1:checked + .hamburger1 .line1 {
        transform: rotate(45deg);
        margin-top: 22.5px;
    }
    #input1:checked + .hamburger1 .line2 {
        transform: rotate(-45deg);
        margin-top: -8px;
    }
    #input1:checked + .hamburger1 .line3 {
        transform: scale(0);
    }
    #input1:checked ~ .menu1 {
        height: 340px;
    }

    .menu1 {
        grid-row: 2;
        width: 100%;
        display: grid;
        grid-template-rows: repeat(4, 0.5fr);
        list-style: none;
        clear: both;
        width: auto;
        height: 0px;
        overflow: hidden;
        transition: height .4s ease;
        transition: all 0.3s ease;
        justify-content: center;
        align-items: center;
    }

    .link1 {
        width: 100%;
        font-family: ('Sorts Mill Goudy');
        font-weight: bold 400;
        background-color: $header_footer_bg_color;
        border: solid 1px white;
        color: $global_font_color;
        font-size: 35px;
        text-decoration: none;
        text-align: center;
        padding: 2px;
        
        
    }
}

}
/* end hamburger ------------------------------------------ */

@media screen and (min-width:1200px){
.main_image {
    @include debug_border();
    width: 100%;
    height: 90vh;
    background-image: url(images/barn_bg_4.jpg);
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10vh;
    margin-bottom: 20vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
}
@media screen and (max-width:1200px){
    .main_image {
        @include debug_border();
        width: 100vw;
        height: 90vh;
        background-image: url(images/barn_bg_4.jpg);
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 10vh;
        margin-bottom: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#coffee_container {
    @include content_container();
    overflow: hidden;
}
//start coffee container slider ---------------------------
#slider {
    height: 100%;
    width: 100%;
    background-color:black;
    margin-bottom: 10vh;
    overflow: hidden;
}
div #slider { 
    overflow: hidden; 
}
div #slider figure img { 
    width: 20%; 
    float: left; 
}
div #slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite; 
}

// div #slider figure > img {
    // height:100%;
    // width:;
// }

@keyframes slidy {
    // to add images to slider, increase 100% {left:400%}.
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -0%; }
    }
//end coffee container slider ---------------------------

#other_drinks_container {
    @include content_container();

    img {
        height: auto;
        width: 100%;
        overflow: hidden;
    }
}

#pastries_container {
    @include content_container();

    img {
        height: auto;
        width: 100%;
        overflow: hidden;
    }
}

#events_container {
    @include content_container();
    overflow: hidden;
    img {
        height: auto;
        width: 100%;
        
    }
}


// used in all content sections to label the top
@media screen and (min-width:900px){
.content_header {
    @include content_header();
}
}

@media screen and (max-width:900px){
    .content_header {
        @include content_header();
        font-size: 30px;
    }
}

footer {
    height: auto;
    width: 100%;
    position: relative;
    bottom: 0px;
    background-color: $header_footer_bg_color;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.contact_info{
    @include default_font($font_size:20px);
    margin-top:20px;
    padding: 10px;
    text-align: center;
    justify-self: start;
    // width: 100%;
    // background-color: rgba(255, 255, 255, 0.375);
    
    a {
        @include default_font($font_size:20px);
    }
}


//---note --------
// the following code is sourced from
// https://www.w3schools.com/howto/howto_css_social_media_buttons.asp
.fa {
    padding: 20px;
    font-size: 50px;
    width: 80px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
